# Cargo generates these files.
debug
target
/profiles/

# The adapters and profilers generate these files.
/adapters/*/target/
/adapters/*/guest/target/
/adapters/*/runner/target/
*.profraw
*.proof

# rustfmt generates these backup files.
**/*.rs.bk

# These files contain MSVC debug data.
*.pdb

# These files contain mutation test data.
**/mutants.out*/

# RustRover uses these files.
#.idea/
